.rating {
    display: inline-flex;
    align-items: center;
    gap: 2px;
}

.rating__star {
    width: 18px;
    height: 18px;

    color: var(--neutral-disable);
    fill: transparent;

    transition: color var(--animation-normal), fill var(--animation-normal);
}

.rating__star--filled {
    color: var(--accent-success);
    fill: var(--accent-success);
}

.rating--rating .rating__star--filled {
    color: var(--accent-rating);
    fill: var(--accent-rating);
}
