.rating {
    display: inline-flex;
    align-items: center;
    gap: 1px;
}

.rating__star {
    width: 16px;
    height: 16px;

    color: var(--border-strong);
    fill: transparent;

    transition:
        color var(--animation-normal),
        fill var(--animation-normal);
}

.rating__star--filled {
    color: var(--color-star);
    fill: var(--color-star);
}

.rating--rating .rating__star--filled {
    color: var(--color-star);
    fill: var(--color-star);
}
