.text {
    color: var(--neutral-primary, #1F2937);

    /* text-sm */
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.text--disabled {
    color: var(--neutral-disable, #9CA3AF);

    cursor: not-allowed;
}

@media (max-width: 768px) {
    .text {
        /* text-xs */
        font-size: 12px;
        line-height: 16px; /* 133.333% */
    }
}