.text {
    color: var(--text-primary);

    font-family: var(--font-family);
    font-size: var(--text-sm-font-size);
    line-height: var(--line-height-normal);
    font-style: normal;
    font-weight: var(--font-weight-medium);
}

.text--disabled {
    color: var(--text-tertiary);

    cursor: not-allowed;
}

@media (max-width: 768px) {
    .text {
        font-size: var(--text-xs-font-size);
        line-height: var(--text-xs-line-height);
    }
}
