.section {
    display: grid;
    gap: var(--space-4);
    padding: var(--space-10) 0;
    border-bottom: 1px solid var(--bg-shadows);
}
.section h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
}
