.container {
    width: 100%;
    flex: 1 1 0;

    border-radius: var(--radius-sm);

    display: flex;
    flex-direction: column;
    justify-content: start;

    overflow-y: scroll;
}

.container__content {
    padding: 24px 40px;

    background: var(--white-color);
    border-radius: var(--radius-md);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

@media (max-width: 768px) {
    .container {
        justify-content: space-between;
    }

    .container__content {
        margin-bottom: var(--space-4);
    }
}
