.main-layout {
    padding-top: var(--header-height);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: var(--main-gap);

    height: calc(100vh - var(--header-height));
}

.content--gradient {
    background: var(--main-gradient);
}

@media (max-width: 768px) {
    .content {
        gap: var(--second-gap);
    }
}
