.main-layout {
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: var(--header-height);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: var(--main-gap);

    height: calc(100vh - var(--header-height));
    padding-bottom: clamp(var(--space-4), 3vw, var(--space-8));
}

.content--gradient {
    background: var(--main-gradient);
}

@media (max-width: 768px) {
    .content {
        gap: var(--second-gap);
        height: auto;
        min-height: calc(100vh - var(--header-height));
        padding-bottom: calc(var(--mobile-nav-height) + var(--space-3));
    }
}
